:root {
  --clr-primary-500: #ef233c;
  --clr-primary-400: #121725;
  --clr-primary-300: #54e6af;
  --clr-primary-200: #272c3a;
  --clr-primary-100: rgba(18, 23, 37, 0.698);
  --clr-neutral-400: #ffffff;
  --clr-neutral-300: #c2cbe5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.root {
  position: relative;
  min-height: 100vh;
  background-color: var(--clr-primary-400);
  background-image: url("./../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: 95% 5rem;
}

.wrapper {
  --width: 70rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem;
}

.header {
  padding: 6rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2rem 2rem 0;
  max-width: 40rem;
  background-color: var(--clr-primary-400);
}

.heading__primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--clr-neutral-400);
}

.heading__primary span {
  color: var(--clr-primary-300);
}

.description {
  max-width: 25rem;
  color: var(--clr-neutral-300);
  line-height: 1.5;
}

.form {
  max-width: 30rem;
}

.form__item {
  position: relative;
}

.form__input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  border-radius: 10rem;
  border: none;
  font-family: inherit;
  color: var(--clr-neutral-300);
  background-color: var(--clr-primary-200);
  font-weight: 700;
}

.form__error {
  transform: scaleY(0);
  margin: 1rem 0;
  text-align: center;
  color: var(--clr-primary-500);
  transition: all 0.3s;
}

.form-error .form__input {
  border: 1px solid var(--clr-primary-500);
}

.form-error .form__error {
  transform: scaleY(1);
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.btn--request {
  background-color: var(--clr-primary-300);
  border-radius: 10rem;
  padding: 0.8rem 1.5rem;
  position: absolute;
  top: 3px;
  right: 2px;
  font-weight: 700;
}

.companies {
  margin-top: 3rem;
}

.companies__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.decorative {
  position: absolute;
  top: 60%;
  right: 0;
}

@media (max-width: 61rem) {
  .root {
    background-image: url("./../assets/tablet/image-host.jpg");
    background-position: 30rem 0rem;
  }

  .header {
    padding: 8rem 0;
  }

  .decorative {
    top: 90%;
    left: 2rem;
  }
}

@media (max-width: 48rem) {
  .root {
    background-image: linear-gradient(
        rgba(18, 23, 37, 0.898),
        rgba(18, 23, 37, 0.898)
      ),
      url("./../assets/mobile/image-host.jpg");
    background-position: center;
    background-size: cover;
  }

  .decorative {
    display: none;
  }

  .wrapper {
    padding: 0;
  }

  .header,
  .form {
    display: grid;
    place-items: center;
  }

  .main {
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
  }

  .heading__primary {
    font-size: 2rem;
  }

  .form,
  .description {
    max-width: 100%;
  }

  .form {
    order: 1;
    margin-top: 3rem;
  }

  .form__item {
    width: 70%;
  }

  .companies {
    margin: 0;
  }

  .btn--request {
    position: static;
    margin-top: 1.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
  }

  .companies__list {
    gap: 1.5rem;
  }

  .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 32rem) {
  .form__item {
    width: 85%;
  }

  .heading__primary {
    font-size: 1.5rem;
  }
}
