:root {
  --clr-primary-400: hsl(31, 77%, 52%);
  --clr-primary-300: hsl(184, 100%, 22%);
  --clr-primary-200: hsl(179, 100%, 13%);
  --clr-neutral-400: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-300: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.main {
  min-height: 100vh;
  background-color: var(--clr-neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  --width: 60rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem;
}

.cars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  overflow: hidden;
}

.car {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.car--sedan {
  background-color: var(--clr-primary-400);
}

.car--suv {
  background-color: var(--clr-primary-300);
}

.car--luxury {
  background-color: var(--clr-primary-200);
}

.car__title {
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--clr-neutral-300);
}

.car__description {
  color: var(--clr-neutral-400);
  line-height: 1.5;
  margin-bottom: 4rem;
}

.link:link,
.link:visited {
  margin-top: auto;
  align-self: flex-start;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: var(--clr-neutral-300);
  border-radius: 10rem;
}

.link--sedan:link,
.link--sedan:visited {
  color: var(--clr-primary-400);
}

.link--suv:link,
.link--suv:visited {
  color: var(--clr-primary-300);
}

.link--luxury:link,
.link--luxury:visited {
  color: var(--clr-primary-200);
}

@media (max-width: 49rem) {
  .wrapper {
    --width: 35rem;
  }
  .cars {
    grid-template-columns: 1fr;
  }

  .car__description {
    margin-bottom: 1rem;
  }
}
